<h1>List of deliveries</h1>

<table>
  <tr>
    <th>Delivery</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Bids</th>
    <th>Mileage</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auctions.each do |auction| %>
  <tr>
    <td><%= auction.item %></td>
    <td><%= auction.origin %></td>
    <td><%= auction.destination %></td>
    <td><%= auction.bids %></td>
    <td><%= auction.mileage %></td>
    <td><%= auction.date %></td>
    <td><%= link_to 'Show', auction %></td>
    <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
    <td><%= link_to 'Delete', auction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New delivery', new_auction_path %>
