<p id="notice"><%= notice %></p>

<p>
  <b>Delivery:</b>
  <%= @auction.item %>
</p>

<p>
  <b>Origin:</b>
  <%= @auction.origin %>
</p>

<p>
  <b>Destination:</b>
  <%= @auction.destination %>
</p>

<p>
  <b>Bids:</b>
  <%= @auction.bids %>
</p>

<p>
  <b>Mileage:</b>
  <%= @auction.mileage %>
</p>

<p>
  <b>Date:</b>
  <%= @auction.date %>
</p>


<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
